.box__title {
    font-size: 50px;
    line-height: 61px;
    color: $dark;
}

.box__title::before {
    display: block;
    content: "ЧТО МЫ";
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: $dark;
}

.box__list {
    text-align: center;
    max-width: 1074px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box__list-item {
    max-width: 298px;
    height: 373px;
    padding: 65px 24px;
    text-align: center;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 30px;
}

.box__item-title {
    font-size: 22px;
    line-height: 33px;
    color: $dark;
}

.box__item-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $dark;
    opacity: 0.6;
}

@include breakpoint-down(370px) {
    .box__title {
        font-size: 30px;
        line-height: 37px;
    }

    .box__title::before {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
}